# IDEs
.idea
.metals
.vscode
project/*metals.sbt
project/project
sbt-launch.jar
src/main/scala/.scala-build/

# build-related
.bsp
.bloop
target
*.scala.semanticdb

*.iml

# silex and scallion

silex/*
scallion/*

# caching of theorems
cache

# emacs backup files
*~
